[Desktop Entry]
Name=Azzera configurazione rete
Name[it]=Azzera configurazione rete
Name=[en]=Clean ethernet configuration on eth0
Comment=Azzera la configurazione di rete Ethernet (eth0)
Comment[it]=Azzera la configurazione di rete Ethernet (eth0)
Comment[en]=Clean the eth0 network configuration
Icon=preferences-system-network
Exec=sudo /home/pi/ConfigRete/clean_eth0.sh
Terminal=false
StartupNotify=true
Type=Application
